header.header
  nav.header__nav
    a(href="")
      img.header__logo(src="./img/logo.svg" alt="Jumpitt Labs")
    .menu-actions
      .menu-toggle
        span.hamburger
  .header__hero
    h1.header__title
      span we
      br
      | think
      br
      b
        i different
    p.header__subtitle Somos un centro de innovación móvil ubicado en Valparaíso, Chile.
    a#scrolldown(href='#')
      span.scroll-icon
      span.text Desliza hacia abajo