doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Overpass:100,300,400,600,700,800" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Overpass+Mono:300,700" rel="stylesheet")
    title Jumpittlabs
  body
    block menu
        include ./_menu
    main
      block header
      block content
    block footer