footer#footer
	.footer-inner
		.column-section.spaced-big.clearfix
			.column.one-half
				p
					img(src='images/jumpittlogo.png', srcset='images/jumpittlogo.png 1x, images/jumpittlogo@2x.png 2x', alt='Logo Light')
				h6
					strong Centro de innovación móvil ubicado en Valparaíso, Chile.
				small
					| Copyright © 2018 Jumpitt.