header.header
  nav.header__nav
      button#menuButton.menu__button
        .bars
            span
            span
            span
            .other-bar
  .header__hero
      h1.header__title In Jumpitt
        =" "
        br
        i we
        =" "
        | think
        =" "
        b different
      p.header__subtitle Somos un centro de innovación móvil ubicado en Valparaíso, Chile.
      .header__scroll
          span(class="scroll__arrow")
  nav.sticky__nav
    img(src="./img/logo.svg" alt="Jumpitt Labs")