-categories = ['branding', 'digital', 'user']
-pageTitle = 'Inicio'
-menu = [{'title':'Inicio','address':'index.html','child':[{'title':'TV','address':'/tv/tv.html'},{'title':'Smartphone','address':'/smartphone/smartphone.html'}]},{'title':'Acerca de','address':'about.html','child':[]},{'title':'Portafolio','address':'portfolio.html','child':[]},{'title':'Contacto','address':'contact.html','child':[]}]
-social = [{'title': 'Facebook', 'address': 'www.facebook.com'},{'title': 'Twitter', 'address': 'www.facebook.com'},{'title': 'Instagram', 'address': 'www.facebook.com'},{'title': 'Dribbble', 'address': 'www.facebook.com'}]
-projects = [{'title': 'CoverMe', 'src': 'coverme', 'categories': 'branding'}, {'title': 'Cédula Digital', 'src': 'cedid', 'categories': 'digital'}, {'title': 'Motion', 'src': 'motion', 'categories': 'user'}]