block config
	include _config

<!DOCTYPE html>
html.no-js(lang='es-ES')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
		link(href='http://fonts.googleapis.com/css?family=Overpass:300,400,500', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Overpass+Mono:300,400', rel='stylesheet', type='text/css')
		link#default-style-css(rel='stylesheet', href='css/main.css', type='text/css', media='all')
		link#fontawesome-style-css(rel='stylesheet', href='css/font-awesome.min.css', type='text/css', media='all')
		link#ionic-icons-style-css(rel='stylesheet', href='css/ionicons.css', type='text/css', media='all')
		link#isotope-style-css(rel='stylesheet', href='css/isotope.css', type='text/css', media='all')
		link#responsive-css(rel='stylesheet', href='css/mqueries.css', type='text/css', media='all')
		link(rel='shortcut icon', href='images/favicon.png')
		title #{pageTitle}
	body
		block content
		block footer
			include blocks/_footer
	block script
		script(src='js/jquery-1.12.4.min.js')
		script(src='js/plugins.js')
		script(src='js/jquery.min.phatvideobg.js')
		script(src='js/jquery.imagesloaded.min.js')
		script(src='js/jquery.isotope.min.js')
		script(src='js/script.js')
		script(src='js/form-validation.min.js')