extends layout

block content
  main.main
    h2.main__title Echa un vistazo
        span.main__light a nuestros proyectos
    section.main__projects
    section.main__partners(style="display: flex;background: black; color: white")
      .partners__brand
        img(style="width: 350px" src="http://www.labs.jumpitt.com/images/logo-sable-group.png", alt="")
      .partners__desc
        h1 Jumpitt es una unidad estratégica de negocio del Grupo Sable.
        p Grupo Sable apuesta a crear valor bajo unidades de negocio autónomas, articuladas por una estrategia común. Se dedica a descubrir, desarrollar y operar emprendimientos innovadores en diferentes industrias, promoviendo la colaboración y sinergia entre sus unidades de negocios así como la búsqueda de alianzas estratégicas con otras entidades. Su desafío radica en emprender, aportar valor, desarrollar, hacer empresa, y trabajar con el objetivo de dejar una huella positiva desde un prisma joven e innovador.
        p
          img(src="http://www.labs.jumpitt.com/images/logos01.png", alt="")
        p
          img(src="http://www.labs.jumpitt.com/images/logos01.png", alt="")