.header {
    margin-right: auto;
    margin-left: auto;
    height: 88vh;
    background: $dark-blue url("./img/parallaxbg.svg") repeat scroll center center / cover;
    @media screen and (min-width: 40em) {
        height: 86vh;
        padding-right: 4vw;
        padding-left: 4vw;
    }
    &__nav {
        position: relative;
        z-index: 13;
        display: flex;
        justify-content: space-between;
        padding-top: 8vh;
    }
    &__hero {
        padding-top: 8vh;
        background-color: $dark-blue;
        @media screen and (min-width: 40em) {
            padding-top: 8vh;
        }
    }
    &__scroll {
        width: 1.5rem;
        height: 3rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @media screen and (min-width: 40em){
            width: 2rem;
            height: 4rem;
        }
    }
    &__title {
        width: 50vw;
    }
    &__logo {
        width: 4em;
        height: auto;
    }
    &__subtitle {
        padding-top: 4vh;
        margin-bottom: 8vh;
        width: 70vw;
        @media screen and (min-width: 40em){
            width: 50vw;
        }
    }
}

#scrolldown {
    position: relative;
    transition: all 0.3s ease;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    box-sizing: content-box;
    &:hover {
        opacity: 0.45;
    }
    .scroll-icon{
        position: absolute;
        top: 0;
        left: 0;
        border: 1.5px solid #000000;
        width: 12px;
        height: 18px;
        border-radius: 8px;border-color: #ffffff;
        transition: all 0.3s ease;
        &:after {
            content: "";
            position: absolute;
            top: 5px;
            left: 4.5px;
            width: 3px;
            height: 3px;
            border-radius: 6px;
            background: #ffffff;;
            animation: scrolldown-anim 1.8s infinite ease;
        }
    }
}

#scrolldown:not(.center) .scroll-icon + span.text {
    padding-left: 25px;
}


@keyframes scrolldown-anim {
    40% {
        top: 5px; }
    75% {
        top: 10px; }
    100% {
        top: 5px; }
}

