.header {
    padding-right: 4vw;
    padding-left: 4vw;
    &__nav {
        position: relative;
        z-index: 13;
        display: flex;
        justify-content: space-between;
        padding-top: 8vh;
    }
    &__title {
        width: 50vw;
    }
    &__subtitle {
        padding-top: 4vh;
        margin-bottom: 8vh;
        width: 70vw;
        @media screen and (min-width: 40em){
            width: 50vw;
        }
    }
}

.nav__menu {
    position: fixed;
    top: 0;
    right: -150px;
    z-index: 1501;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    padding-right: 4vw;
    transition: all 0.599s ease, right 599ms cubic-bezier(0.4, 0.4, 0, 1);
    .menu__nav {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding-top: 8rem;
        margin-bottom: 2rem;
    }
    .menu__nav-item {
        transition: all 499ms cubic-bezier(0.4, 0.1, 0, 1);
        transform: translateY(45px);
        opacity: 0;
        visibility: hidden;
        text-align: right;
        margin-bottom: 1rem;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 0%;
            height: 2px;
            background: rgba(0, 0, 0, 0.26);
            transition: all 0.3s ease;
        }
        &:hover:after {
            width: 100%;
        }
    }
}


.header .menu-is-open {
    right: 350px;
    transition-delay: 0.06s;
}


.menu-is-open {
    //Menu nav
    .nav__menu {
        right: 0px;
        opacity: 1;
        visibility: visible;
        transition: all 0.115s ease, right 599ms cubic-bezier(0.4, 0.4, 0, 1);
    }
    .menu__nav-item{
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
        transition: all 799ms cubic-bezier(0.4, 0.1, 0, 1);
        &:nth-child(1){
            transition-delay: 0s;
        }
        &:nth-child(2){
            transition-delay: 0.05s;
        }
        &:nth-child(3){
            transition-delay: 0.1s;
        }
        &:nth-child(4){
            transition-delay: 0.15s;
        }
    }
}

