.menu {
    padding-right: 4vw;
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 12;
    transform: translateX(100vw);
    transition: all 589ms cubic-bezier(0.4, 0.4, 0, 1) 0.1s;
    @media screen and (min-width: 40em) {
        width: 24vw;
    }
    &__nav {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding-top: 8rem;
        margin-bottom: 2rem;
    }
    &__nav-item {
        margin-bottom: 1rem;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 0%;
            height: 2px;
            background: rgba(0, 0, 0, 0.26);
            transition: all 0.3s ease;
        }
        &:hover:after {
            width: 100%;
        }
    }
    &__location {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &__footer {
        padding-top: 3rem;
    }
    &__link {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    &.is-open {
        transform: translateX(0vw);
        @media screen and (min-width: 40em) {
            transform: translateX(76vw);
        }
    }
}

.menu__nav-item{
    transition: all 499ms cubic-bezier(0.4, 0.1, 0, 1);
    transform: translateY(45px);
    opacity: 0;
    visibility: hidden;
    text-align: right;
}

.is-open .menu__nav-item{
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    transition: all 799ms cubic-bezier(0.4, 0.1, 0, 1);
    &:nth-child(1){
        transition-delay: 0s;
    }
    &:nth-child(2){
        transition-delay: 0.05s;
    }
    &:nth-child(3){
        transition-delay: 0.1s;
    }
    &:nth-child(4){
        transition-delay: 0.15s;
    }
}

.menu-actions {
    position: relative;
    z-index: 1502;
}

.menu-toggle {
    width: 24px;
    height: 30px;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    float: right;
    margin-left: 35px;
    span.hamburger,
    span.hamburger:after,
    span.hamburger:before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        top: 50%;
        margin-top: -1.5px;
        right: 0;
        transform: rotate(0deg);
        transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1), margin 0.3s ease 0.3s, transform 0.3s ease, background 0.05s ease 0.27s;
        transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
    }
}

.menu-toggle span.hamburger:before {
    margin-top: -7px;
    top: 0;
    width: 80%;
}

.menu-toggle span.hamburger:after {
    margin-top: 7px;
    top: 0;
    width: 50%;
}

header:not(.menu-is-open) .menu-toggle:hover span:before,
header:not(.menu-is-open) .menu-toggle:hover span:after {
    width: 100%;
}

  /* open navigation anim */
header.menu-is-open .menu-toggle span.hamburger {
    background: transparent;
}

header.menu-is-open .menu-toggle span:before,
header.menu-is-open .menu-toggle span:after {
    transition: margin 0.3s cubic-bezier(0.6, 0, 0.2, 1), transform 0.3s ease 0.3s, background 0.3s ease 0.2s;
    transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
    margin: 0;
    width: 100%;
    transform: rotate(135deg);
    background: black;
}

header.menu-is-open .menu-toggle span:after {
    transform: rotate(-135deg);
}


header.menu-is-open {
    right: 350px;
    transition-delay: 0.06s;
}