
/* Variables*/

$dark-blue: #292676;
$light-blue: #2C2984;
$soft-blue: #F8F8FF;
$gray: #9B9B9B;
$dark-gray: #4A4A4A;

// Vars typo

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// Vars fx

$min_width: 320px;
$max_width: 1440px;
$min_font: 48px;
$max_font: 77px;